.Naamkleur {
	color:red;
}

.Hobbykleur { 
	color:purple;
 }

 .Seriekleur {
 	color:purple;
 }

 li {
 	font-size:150%;
 }

 li {
 	color:red;
 }

 body {
 	background-color:blue;
 }